<div class="toast-container top-right"></div>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
      <h1>Edit Employee</h1>
      <form [formGroup]="editForm" (ngSubmit)="saveEmployee()">
        <div class="form-outline mb-4">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input required matInput type="text" formControlName="name" />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Position</mat-label>
            <input matInput type="text" formControlName="position" />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Hiring Date</mat-label>
            <input matInput [matDatepicker]="picker" (dateChange)="onChangeDate($event)" formControlName="hiringDate" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Salary</mat-label>
            <input required matInput type="number" formControlName="salary"
              onkeypress="return (event.charCode != 46)" />
          </mat-form-field>
        </div>
        <div class="group-btn">
          <button (click)="back()" class="btn btn-dark">Back</button>
          <button type="submit" class="btn btn-success" [disabled]="!editForm.valid">Save</button>
        </div>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
</div>